<section class="my-5 container col-sm-5">
    <div class="align-items-center card " style="background-color:antiquewhite;">
        <form class="my-5" (ngSubmit)="checkOutForm(checkout.control.value)" #checkout="ngForm" method="post">
            <div class="my-2 text-center">
                <h3>Check Out</h3>
            </div>
            <div class="row my-1">
                <input class="form-control" type="text" name="username" id="username" placeholder="Enter Username" required="required"
                 #username="ngModel" ngModel [ngClass]="{'is-invalid':username.invalid && username.touched,'is-valid':username.valid && username.touched}" >
            </div>
            <div class="row my-1">
                <input class="form-control" type="password" name="password" id="password" placeholder="Enter Password" required="required"
                 #password="ngModel" ngModel [ngClass]="{'is-invalid':password.invalid && password.touched, 'is-valid':password.valid && password.touched}" />
            </div>
            <div class="row my-1">
            <input class="btn btn-warning" type="submit" value="Login" [disabled]="checkout.invalid" >
            </div>
            
        </form>
    </div>
</section>